<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>albumin</title>
	<style>
		.group {
			display: flex;
			font-size: .6em;
		}

		.group p {
			margin-left: 1em;
		}
	</style>
</head>

<body>
	<p>
		<label>
			Path:
			<input name="scan_path" type="text" size="45">
		</label>
		<button id="scan">scan</button>
	</p>
	<p>
		<label>
			Tolerance:
			<input name="dedup_tolerance" type="number" size="5" value="10">
		</label>
		<br>
		<button id="dedup_byhash">dedup(hash)</button>
		<button id="dedup_byphash">dedup(phash)</button>
	</p>
	<p>
		<label>
			Strategy:
			<select name="move_strategy">
				<option>seq</option>
				<option selected>exif</option>
			</select>
		</label>
		<br>
		<label>
			<input name="move_execute" type="checkbox">
			execute
		</label>
		<br>
		<label>
			Layout:
			<input name="move_layout" type="text" size="45" value="./output/2006/2006-01-02_15-04-05.png">
		</label>
		<button id="move">move</button>
	</p>

	<p>
		Status: <span id="status"></span>
		<span id="progress"></span>
	</p>
	<hr>

	<p id="result"></p>

	<script>
		const result = document.querySelector("#result");

		const status = (st, col) => {
			const elm = document.querySelector("#status");
			elm.style.color = col;
			elm.textContent = st;
		};
		const statusStandby = () => status("standby", "green");
		const statusProcessing = () => status("processing", "orange");
		const statusSucceeded = () => status("succeeded", "blue");
		const statusFailed = () => status("failed", "red");
		statusStandby();

		(async () => {
			const path = document.querySelector("[name=scan_path]");
			if (path.value) {
				return;
			}
			const resp = await fetch("/api/move/pwd");
			if (!resp.ok) {
				return alert(`API Error: ${await resp.text()}`);
			}
			path.value = await resp.text();
		})();

		const executeAPI = async (api, opts) => {
			statusProcessing();

			const resp = await fetch(api, opts);
			if (!resp.ok) {
				statusFailed();
				const err = new Error(await resp.text());
				result.textContent = err;
				throw err;
			}

			statusSucceeded();
			return resp.json();
		};

		const updateProgress = (endpoint) => {
			const elm = document.querySelector("#progress");

			const timer = setInterval(async () => {
				const resp = await fetch(endpoint);
				if (!resp.ok) {
					return alert(`API Error: ${await resp.text()}`);
				}
				elm.textContent = `(${await resp.text()})`;
			}, 1000);

			return () => {
				elm.textContent = "";
				clearInterval(timer);
			};
		};

		document.querySelector("#scan").addEventListener("click", async () => {
			const path = document.querySelector("[name=scan_path]").value;
			const progKey = `${new Date().getTime()}-${path}`;

			const stopProgress = updateProgress(`/api/photo/scan/progress?key=${encodeURIComponent(progKey)}`);

			const resp = await executeAPI("/api/photo/scan", {
				method: "POST",
				body: JSON.stringify({
					Path: path,
					ProgressKey: progKey,
				}),
			}).finally(stopProgress);

			result.innerHTML = `
				<table border="1">
					<tr><th>Photos</th></tr>
					${resp.Photos.map(photo => `<tr><td>${photo.Path}</td></tr>`).join("")}
				</table>
			`;
		});

		const showGroups = groups => {
			result.innerHTML = groups.map(group => `
				<div class="group">
				${group.map(photo => `
					<p>
						<button class="delete" data-path="${photo.Path}">delete</button><br>
						Path: ${photo.Path}<br>
						Datetime: ${photo.ExifTime}<br>
						<img src="/api/thumbnail?width=300&path=${encodeURIComponent(photo.Path)}">
					</p>
				`).join("")}
				</div>
				<hr>
			`).join("");

			document.querySelectorAll(".delete").forEach(elm => elm.addEventListener("click", async () => {
				const path = elm.getAttribute("data-path");
				await executeAPI("/api/photo", {
					method: "DELETE",
					body: JSON.stringify({
						Path: path,
					}),
				});

				document.querySelectorAll(`[data-path="${path}"]`).forEach(elm => {
					const deleted = document.createElement("span");
					deleted.style.color = "red";
					deleted.textContent = "[deleted]";
					elm.replaceWith(deleted);
				});
			}));
		};

		document.querySelector("#dedup_byhash").addEventListener("click", async () => {
			const resp = await executeAPI("/api/dedup/hash", {});
			showGroups(resp.Groups);
		});

		document.querySelector("#dedup_byphash").addEventListener("click", async () => {
			const resp = await executeAPI(`/api/dedup/phash?tolerance=${document.querySelector("[name=dedup_tolerance]").value}`, {});
			showGroups(resp.Groups);
		});

		document.querySelector("#move").addEventListener("click", async () => {
			const resp = await executeAPI("/api/move", {
				method: "POST",
				body: JSON.stringify({
					Strategy: document.querySelector("[name=move_strategy]").value,
					Layout: document.querySelector("[name=move_layout]").value,
					Execute: document.querySelector("[name=move_execute]").checked,
				}),
			});
			result.innerHTML = `
				<table border="1">
					<tr>
						<th>From</th>
						<th>To</th>
					</tr>
					${resp.Moves.map(move => `
						<tr>
							<td>${move.From}</td>
							<td>${move.To}</td>
						</tr>
					`).join("")}
				</table>
			`;
		});
	</script>
</body>

</html>
